[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/bro-service
ExecStart=/root/apps/bro-service/bro-service
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/bro-service/config.env

[Install]
WantedBy=multi-user.target
